<div dir="LTR" text="#141414" bgcolor="#F0F0F0" link="#176093" alink="#176093" vlink="#176093" style="padding:10px">
    <div class="adM">
    </div><table dir="LTR" style="background-color:#f0f7fc;border:1px solid #a5cae4;border-radius:5px;direction:LTR" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td style="background-color:#d7edfc;padding:5px 10px;border-bottom:1px solid #a5cae4;border-top-left-radius:4px;border-top-right-radius:4px;font-family:'Trebuchet MS',Helvetica,Arial,sans-serif;font-size:11px;line-height:1.231">
                    <a href="https://www.facebook.com/groups/300847570561359/" style="color:#176093;text-decoration:none" target="_blank">V2 Team</a>
                </td>
            </tr>
            <tr>
                <td style="background-color:#fcfcff;padding:1em;color:#141414;font-family:'Trebuchet MS',Helvetica,Arial,sans-serif;font-size:13px;line-height:1.231">

                    <p style="margin-top:0"> Thân chào bạn để thay đổi mật khẩu mới  của<a href="https://www.facebook.com/groups/300847570561359/" style="color:#176093;text-decoration:none" target="_blank"> Doctor Web Forum</a>, bạn hãy nhấn đường link bên dưới đây.</p>
                    <h2 style="font-size:14pt;font-weight:normal;margin:10px 0 4px"> Recover</h2>
                    <div style="color:#176093;font-size:11px;margin:4px 0 10px"><a href="@ViewBag.RecoverLink">Recover</div>

                    </p>
                    Cám ơn vì đã đăng ký.<br>
                    V2 Team
                    </p>
                </td>
            </tr>
        </tbody>
    </table><div class="yj6qo"></div><div class="adL">
    </div>
</div>
<div class="adL">
</div>
    </div>