<div class="container">
    <div class="row">
        <div class="col-lg-8 breadcrumbf">
            <a href="#">Đăng kí</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="alert alert-info">
            <strong>@ViewBag.thongbao!</strong>
        </div>
    </div>
</div>

